$main-color: #122321;
$second-color: #0c1917;

$text-color1: #f9d66b;
$text-color2: #fff;

$main-font: 'Lato', sans-serif;

@import "_reset.scss";

body {
	font-family: $main-font;
	font-size: 62.5%;
	background-color: $main-color;
	color: $text-color2;
}

h1 {
	font-weight: 700;
	font-style: italic;
	font-size: 1.6em;
	color: $text-color1;
	span {
		display: block;
		color: $text-color2;
		font-size: 2em;
		margin-top: 2px;
	}
}

h2 {
	font-size: 2em;
	font-style: italic;
	font-weight: 700;
	color: $text-color1;
}

p {
	font-size: 1.5em;
	padding-top: 10px;
}
header {
	padding: 4% 0 3.5% 0;
	background-color: $second-color;
	text-align: center;
	margin-bottom: 10px;
}

figure {
	padding: 4%;
	background-color: $second-color;
}

figcaption {
	font-size: 1.5em;
	font-style: italic;
	padding-top: 10px;
}

article {
	padding: 30px;
	background-color: $main-color;
	border-bottom: dashed 2px #223c3a;
   	transition: background-color .50s ease-in-out;
   	-moz-transition: background-color .50s ease-in-out;
   	-webkit-transition: background-color .50s ease-in-out;
	&:hover {
		background-color: $second-color;
	}
}